DATABASE_URL=postgresql://neondb_owner:npg_72KvPAYWVtud@ep-tittle-king-apm0qv57-pooler.c-7.us-east-1.aws.neon.tech/programas?sslmode=require&channel_binding=require

JWT_SECRET=8208bbdd2fab4f00866dd9ab55f4c45857351e13c24355b6fed11ddf75aecdec7cb277728699a01f8ddeca88456914ab

CORS_ORIGIN=http://localhost:8888

PORT=4000

SEED_ADMIN_NOMBRE="Administrador"
SEED_ADMIN_EMAIL=admin@bienestar.gob.mx
SEED_ADMIN_PASSWORD=CambiaEstaClave123!